{
 "comments": false,
 "compact": true,
 "plugins": [
    // Async functions compiled without generators.
    //
    // Poorer perf than native generators but better than emulation
    // and no need for runtime!
    "kneden"
  ],
 "presets": [
    "stage-0",
    "es2015"
 ]
}
